<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <title>Wiki</title>
</head>

<body>
<div class="login-area">
  {% if user %}
    <a class="login-link" href="/_edit/{{addr}}">edit</a>
    |
    <a class="login-link" href="/history">history</a>
    |
    {{user.name}} (<a class="login-link" href="/logout">logout</a>)
  {% else %}
    <a class="login-link" href="/history">history</a>
    |
    <a class="login-link" href="/login">login</a>
    |
    <a class="login-link" href="/signup">signup</a>
  {% endif %}
</div>
    

{% block content %}
{% endblock %}
</body>
</html>

